:root {
  --input-width: 100%;
  --input-height: 7em;
  --input-entry-height: 1.7em;
  --input-padding-top: 4px;
  --input-padding-sidewise: 15px;
  --input-border-radius: 0.5em;
  --resume-padding: 2em;
}

@font-face {
  font-family: input-head;
  src: url(../fonts/NotoSansJP-SemiBold.ttf);
}

@font-face {
  font-family: input-title;
  src: url(../fonts/Mooli-Regular.ttf);
}

@font-face {
  font-family: resume-head;
  src: url(../fonts/Gloock-Regular.ttf);
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.on-screen {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.input {
  width: 20em;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.input-details,
.experience-expanded,
.education-expanded {
  border-radius: var(--input-border-radius);
  background-color: white;
  /* padding: 1em 0.5em; */
  padding-bottom: 0.7em;
}

h3 {
  background-color: white;
  border-radius: var(--input-border-radius);
  font-family: input-head;
  font-size: 1.3em;
  padding: var(--input-padding-top) var(--input-padding-sidewise);
}

form fieldset {
  display: flex;
  flex-direction: column;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: var(--input-padding-top) var(--input-padding-sidewise);
  font-family: input-title;
  font-size: 0.7em;
  font-weight: 700;
}

.button-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button-entry button {
  background-color: #e5e7eb;
  width: 80px;
  border-radius: 4px;
}

.button-entry button:hover {
  cursor: pointer;
}

input {
  /* outline: 1px solid black; */
  padding-left: 0.4em;
  height: 1.7em;
  outline: 0;
  border: 0;
  border-radius: 4px;
  width: var(--input-width);
  background-color: #e5e7eb;
  transition: all 0.3s ease-out;
}

input:focus {
  background-color: white;
  outline: 2px solid rgb(104, 104, 255);
  box-shadow: 1px 1px 4px rgba(82, 81, 81, 0.7);
}

textarea {
  width: var(--input-width);
  height: var(--input-height);
  overflow: auto;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background-color: #e5e7eb;
}

textarea:focus {
  background-color: white;
  outline: 2px solid rgb(104, 104, 255);
  box-shadow: 1px 1px 4px rgba(82, 81, 81, 0.7);
}

.education-head-collapsed img,
.experience-head-collapsed img,
.education-head-expanded img,
.experience-head-expanded img {
  width: 1.3em;
  color: black;
}

.education-head-collapsed img:last-child,
.experience-head-collapsed img:last-child,
.education-head-expanded img:last-child,
.experience-head-expanded img:last-child {
  margin-left: auto;
}

.education-head-collapsed,
.experience-head-collapsed,
.education-head-expanded,
.experience-head-expanded {
  display: flex;
  align-items: center;
  height: 2.5em;
  gap: 0.3em;
}

.education-head-collapsed:hover,
.experience-head-collapsed:hover,
.education-head-expanded,
.experience-head-expanded {
  cursor: pointer;
}

.education-expanded,
.experience-expanded {
  display: flex;
  flex-direction: column;
  transform-origin: top center;
  animation: expand 0.2s ease-out;
}

.output {
  min-height: 1050px;
  padding: 1em;
  background-color: #e5e7eb;
  display: flex;
  padding-left: 0;
  gap: 1em;
}

.controls {
  z-index: 10;
  width: 2em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1em;
}

.controls .control {
  display: flex;
  gap: 2px;
  justify-content: space-between;
  background-color: white;
  border-radius: var(--input-border-radius);
  padding: 0 4px;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 50%;
}

.controls .control:hover {
  box-shadow: 2px 2px 4px rgb(88, 88, 88);
  transform: scale(1.1);
  cursor: pointer;
}

.controls .control img {
  width: 30px;
}

.output-resume {
  height: 100%;
  width: 100%;
  min-width: 650px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2em;
}

.resume-header {
  padding: var(--resume-padding);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  background-color: #082f49;
  color: white;
}

.resume-name {
  font-family: resume-head;
  letter-spacing: 0.1em;
}

.resume-job-title {
  font-family: input-title;
  font-size: 1em;
}

.resume-name,
.resume-job-title {
  grid-column: 1/-1;
}

.resume-email,
.resume-phone,
.resume-address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: input-title;
  font-size: 0.8em;
}

.resume-email img,
.resume-phone img,
.resume-address img {
  filter: invert(1);
}

.resume-experience,
.resume-education {
  padding: 0 var(--resume-padding);
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.resume-experience h3,
.resume-education h3 {
  grid-column: 1/-1;
  text-align: center;
  background-color: #e5e7eb;
}

.resume-experience > div,
.resume-education > div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.2em 0.7em;
}

.resume-experience-duration,
.resume-education-duration {
  min-width: 140px;
  font-size: 0.82em;
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
  place-self: center start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.resume-experience-name,
.resume-experience-title,
.resume-experience-description,
.resume-education-name,
.resume-education-title {
  grid-column: 2/3;
  /* border-left: 2px solid blue; */
}

.resume-experience-name,
.resume-education-name {
  font-weight: 900;
  font-family: input-head;
}

.resume-experience-title {
  font-style: italic;
  font-size: 1em;
}

.resume-education-location {
  font-size: 1em;
  grid-column: 1/2;
}

@keyframes expand {
  0% {
    transform: scaleY(0%);
  }
  75% {
    transform: scaleY(120%);
  }
  100% {
    transform: scaleY(100%);
  }
}

@keyframes expand-x {
  0% {
    transform: scaleX(0%);
  }
  90% {
    transform: scaleX(110%);
  }
  100% {
    transform: scaleX(100%);
  }
}

/* ////////////////////////////////////////////// */
.experience-inactive-section,
.education-inactive-section {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  background-color: white;
  border-radius: var(--input-border-radius);
  font-family: input-head;
  font-size: 1em;
  padding: var(--input-padding-top) var(--input-padding-sidewise);
}
.experience-inactive-section img:nth-last-child(2),
.education-inactive-section img:nth-last-child(2) {
  margin-left: auto;
}

.experience-inactive-section img,
.education-inactive-section img {
  transition: transform 0.2s ease-in-out;
}

.experience-inactive-section img:hover,
.education-inactive-section img:hover {
  transform: scale(1.2);
}

.experience-inactive-section:hover,
.education-inactive-section:hover {
  cursor: pointer;
}

.add-education,
.add-experience {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--input-padding-top) var(--input-padding-sidewise);
}

.add-education button::before,
.add-experience button::before {
  content: "+";
  font-weight: 900;
  font-size: 1.3em;
}

.add-education button,
.add-experience button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.5em;
  width: max-content;
  border-radius: var(--input-border-radius);
  font-size: 1em;
}

.add-education button:hover,
.add-experience button:hover {
  cursor: pointer;
}

@media print {
  .input {
    display: none;
  }

  .controls {
    display: none;
  }
  .output {
    padding: 0;
  }
}
